<div class="head">
  <h5>{{ 'RECOVERY.CHANGE_PASSWORD' | translate }}</h5>
  <div class="logo"><img [src]="logo" /></div>
</div>

<div class="success" *ngIf="isSuccess">
  <app-icon [file]="'auth'" [name]="authIcons.ready"></app-icon>
  <app-login [autoFilled]="true" [displayTitle]="false" [loginFormData]="formData" ></app-login>
</div>

<form (ngSubmit)="changePassword()" #loginForm="ngForm" *ngIf="!isSuccess" ngNativeValidate>
  <label class="label" for="loginInput">{{ 'RECOVERY.LOGIN' | translate }}</label>
  <input [(ngModel)]="formData.login" name="login" type="login" readonly="readonly" disabled="disabled" placeholder=""
    #login autocomplete="off" id="loginInput">

  <label class="label" for="codeInput">{{ 'RECOVERY.CODE' | translate }}</label>
  <input [(ngModel)]="formData.code" name="code" type="text" placeholder="{{
        'RECOVERY.CODE_PLACEHOLDER' | translate }}" #code autocomplete="off" id="codeInput" required>

  <label class="label" for="passwordInput">{{ 'RECOVERY.PASSWORD' | translate
        }}</label>
  <input [(ngModel)]="formData.password" name="password" type="password" placeholder="" pattern="" #password
    autocomplete="off" id="passwordInput">

  <label class="label" for="passwordControlInput">{{
        'RECOVERY.PASSWORD_CONTROL' | translate }}</label>
  <input [(ngModel)]="formData.passwordControl" name="passwordControl" type="password" placeholder="" pattern=""
    #passwordControl autocomplete="off" id="passwordInputControl">

  <div class="message error">
    <span *ngIf="!message.messageCode && !isLoading">&nbsp;</span>
    <span *ngIf="message.messageCode && !isLoading">{{'ERRORS.'+message.messageCode | translate }}</span>
    <app-loader *ngIf="isLoading"></app-loader>
  </div>

  <div class="changePassword">
    <button type="submit" class="button" [disabled]="isLoading">{{'RECOVERY.CHANGE_PASSWORD_SUBMIT'
            | translate}}</button>
  </div>

</form>
