@import "../../../../styles/components";

:host {}

.success {

  display: flex;
  align-items: center;
  flex-direction: column;

  app-icon {
    width: 88px;
  }

  app-login {
    width: 100%;
  }

}

.head {

  padding-bottom: 76px - 24px;

  display: flex;
  align-items: center;

  h5 {
    flex: 1 1 100%;
    font-size: $font-size-big;
  }

  .logo {
    flex: 1 1 0;

    img {
      height: 24px;
      width: auto;
    }
  }
}

form {



  label {
    font-size: $font-size-small;
    line-height: 157%;
    height: $font-size-big;
    display: block;
    margin-top: 24px;
  }

  input {
    width: 100%;
  }

  .message {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;

    &.error {
      color: $error-normal;
    }
  }

  .changePassword {
    margin-bottom: 40px;

    .button {
      min-width: 192px;

      @include for-phone-only() {
        min-width: 120px;
      }
    }

  }


}
