@import "../../../../../styles/components.scss";

:host {

  display: none;

  &.visibility {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 2002;
  }

  .container {
    align-self: center;
    max-width: 280px;
    text-align: center;
    .text {
        color: $brand-disable-light;
        user-select: none;
    }
    .value {
        user-select: none;
        color: $warning-disable;
        padding: 24px;
        font-size: 48px;
        line-height: 72px;
    }
  }

}
