@import "../../../../../../styles/components";

:host {
  display: block;
}

/* FIXME */
/* :host:not(.oldIE) /deep/ img {

  max-width: 100%;
  width: auto;
  height: auto;

} */

.terms {
  .term {
    border-radius: 5px;
    margin: 15px 5px 15px 5px;
    &:first-child {
      margin: 0 5px 15px 5px;
    }
  }
}
