@import "../../../../styles/components";

:host {
  display: block;
  z-index: 100;
}

.top {

}

.left {

  display: flex;
  flex-direction: column;
  height: 100%;

  .body {
    flex: 1 1 100%;
    overflow: auto;
  }

  .side {
    flex: 0 0 auto;
    border-bottom: 1px solid $surface-bg-disabled;
  }

}

.currentBookmark {
  cursor: pointer;
  position: fixed;
  right: 24px;
  top: 12px;
  cursor: pointer;
  z-index: 1000;
}
