@import "../../../../../styles/components";

:host {
  display: block;
}

.container {

  *:empty {
    *:not(img) {
      display: none;
    }
  }

  a {

    cursor: pointer;
    text-decoration: none;
    color: $link-normal;

    &:visited {
      color: $link-normal;
    }

    &:hover {
      color: $link-hover;
    }

    &:active {
      color: $link-push;
    }

  }

}
