@import "../../../../../styles/components.scss";

:host {}

.head {

  display: flex;
  $head-padding: 12px;

  .label {

    flex: 1 1 100%;
    $border-size: 16px;
    padding: $head-padding + 2px;
    text-align: left;

  }

  .close {
    flex: 0 0 auto;
    padding: $head-padding;
  }

}



.commands {
  padding: 24px;
  display: flex;
  justify-content: space-around;

  button {
    display: block;
    text-align: center;
    min-width: 100px;
  }
}
