
$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-micro: 0.625rem; // 10px
$font-size-mini: 0.75rem; // 12px
$font-size-small: 0.875rem; // 14px
$font-size-medium: 1rem; // 16px
$font-size-medium-alt: 1.125rem; // 18px
$font-size-title: 1.25rem; // 20px
$font-size-title-alt: 1.375rem; // 22px
$font-size-big: 1.5rem; // 24px
$font-size-giant: 2rem; // 32px
$font-size-giant-alt: 2.25rem; // 36px
$font-size-giant-super: 3rem; // 48px

$font-weight-bold: 500;
$letter-spacing-normal: 0.01875rem;
$letter-spacing-small: 0.015625rem; // 0.25px

$brand-normal: #FAD84B;
$brand-hover: #FCE481;
$brand-push: #F6BF23;
$brand-disable: #FEF3C9;
$brand-info: #FFEFAB;
$brand-disable-light: #FFFDF4;

$typography-light: #464540;
$typography-disabled: #949287;
$typography-secondary: #737169;
$typography-strong: #232320;
$typography-white: #FFFFFF;

$surface-bg-primary: #FFFFFF;
$surface-bg-secondary: #FAFAFA;
$surface-bg-tertiary: #EFEFED;
$surface-bg-tertiary-alt: #EFF1F7;
$surface-bg-disabled: #E2E1DF;
$surface-bg-emphasis: #A4A29B;
$surface-bg-emphasis-alt: #E2E2E2;
$surface-bg-dark: #232320;
$surface-bg-tooltip: #100D05;

$surface-bg-body: #F5F6FA;


$link-normal: #0D51F8;
$link-hover: #5685FA;
$link-push: #0327F3;
$link-disable: #A1BAF8;

$warning-normal: #FFB400;
$warning-hover: #FFCB4D;
$warning-push: #FF8C00;
$warning-disable: #FFE9B3;

$error-normal: #E94B42;
$error-1c-normal: #CA2B41;
$success-normal: #00C956;

$commands-main: #727995;

$nav-height: 56px;
