@import "../../../../../styles/components";

:host {

  height: 100%;

  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);

}

app-course-nav {
  @include flex(0, 0, auto); // Обязательно для Safari
}

slides {

  @include flex(1, 1, 100%);

  height: 100%;
  width: 100%;

  overflow: hidden;

  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-items(center);


}

alert {

}