@import "../../../../styles/components";

:host {}

.head {

  padding-bottom: 76px - 24px;

  display: flex;
  align-items: center;

  h5 {
    flex: 1 1 100%;
    font-size: $font-size-big;
  }

  .logo {

    &.isUserLogo {
      display: none;
    }

    flex: 1 1 auto;
    display: flex;

    img {
      object-fit: contain;
      width: 100%;
      height: auto;
      max-width: 100%;
      min-height: 40px;
      max-height: 70px;
    }
  }
}
