
<layout *ngIf="ready"></layout>
<div *ngIf="!ready && !errorCode" class="loader">
    <app-loader></app-loader>
</div>
<div *ngIf="!ready && !!errorCode" class="error">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/></svg>
    </div>
    <div>
        <span i18n *ngIf="errorCode === 'learning-api-session-empty'">No session</span>
        <span i18n *ngIf="errorCode === 'learning-api-get'">Can not get data from the server</span>
        <span i18n *ngIf="errorCode === 'learning-api-params'">Invalid parameters</span>
        <span i18n *ngIf="errorCode === 'course-data-empty'">Can not find course data</span>
    </div>
</div>