@import "../../../../../styles/components";

:host {
  display: block;
}

$border-size: 16px;

.container {

  .mobilePages {

    @include for-phone-up() {
      display: none;
    }

    display: flex;
    border-bottom: 1px solid $surface-bg-emphasis;
    margin: 16px 0 0 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .pageName {
      cursor: pointer;
      margin-right: 16px;
      margin-bottom: -1px;
      padding: 6px;
      text-transform: uppercase;
      white-space: nowrap;

      &.subtitle-2 {
        border-bottom: 2px solid $link-normal;
      }

      &:first-child {
        margin-left: 16px;
      }
    }


  }

  .mobileDescription {
    @include for-phone-up() {
      display: none;
    }
  }

  .desktopDescription {
    @include for-phone-only() {
      display: none;
    }
  }

  .body {

    display: flex;
    @include for-phone-only() {
      display: block;
    }
    flex-direction: row;
    padding-bottom: $border-size*2;

    .left {
      border-left: $border-size solid $surface-bg-body;
      border-right: $border-size solid $surface-bg-body;

      @include for-phone-only() {
        border: none
      }

      flex: 1 1 auto;

      .block {

        @include for-phone-up() {
          min-width: 400px;
        }

        margin-bottom: 32px;

        @include for-phone-only() {
          margin-bottom: 0;
        }

      }
    }

    .right {
      border-left: $border-size solid $surface-bg-body;
      border-right: $border-size solid $surface-bg-body;

      @include for-phone-only() {
        border: none
      }

      flex: 1 1 auto;
      max-width: 480px;
      min-width: 200px;

      .block {
        min-width: 200px;
        margin-bottom: 32px;

        @include for-phone-only() {
          margin-bottom: 0;
        }
      }
    }
  }

}

.mobileMarker {
  @include for-phone-up() {
    display: none;
  }
}
