@import "../../../../styles/components.scss";

:host {}

h5 {
  margin: 32px 16px 0 16px;

  @include for-phone-only() {
    display: none;
  }
}

.mobileHeader {
  @include for-phone-up() {
    display: none;
  }
}

$border-size: 16px;

.container {

  display: flex;
  flex-direction: row;
  @include for-phone-only() {
    flex-wrap: wrap;
  }
  padding-bottom: $border-size*2;

  .mobilePages {

    @include for-phone-up() {
      display: none;
    }

    display: flex;
    border-bottom: 1px solid $surface-bg-emphasis;
    margin: 16px 0 0 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .pageName {
      cursor: pointer;
      margin-right: 16px;
      margin-bottom: -1px;
      padding: 6px;
      text-transform: uppercase;
      white-space: nowrap;

      &.subtitle-2 {
        border-bottom: 2px solid $link-normal;
      }

      &:first-child {
        margin-left: 16px;
      }
    }
  }

  .left {
    border-top: $border-size*2 solid $surface-bg-body;
    border-left: $border-size solid $surface-bg-body;
    border-right: $border-size solid $surface-bg-body;
    flex: 2 2 auto;
    @include for-phone-only() {
      border: none
    }
    max-width: 100%;
    box-sizing: border-box;
    width: 60%;


    &:empty {
      display: none;
    }

    .block {
      @include for-phone-up() {
        min-width: 400px;
      }
    }

    app-student-activities {
      @include for-phone-up() {
        min-height: 490px;
      }
    }

  }

  .right {
    border-top: $border-size*2 solid $surface-bg-body;
    border-left: $border-size solid $surface-bg-body;
    border-right: $border-size solid $surface-bg-body;
    flex: 1 1 416px - $border-size*4;
    @include for-phone-only() {
      border: none
    }
    max-width: 100%;
    box-sizing: border-box;
    @include for-phone-up() {
      min-width: 400px;
    }
    width: 40%;

    &:empty {
      display: none;
    }

    .block {
      margin-bottom: 24px;
      @include for-phone-up() {
        min-height: 144px;
      }
    }

  }
}
