@import "../../../../../../styles/components";

:host {

  display: block;

  padding: 7px;
  background-color: $surface-bg-disabled;
  border: $surface-bg-tertiary;

}

.synonym {
  font-style: italic;
  margin-bottom: 10px;
}

.container {
  margin-top: 5px;
}