<h3 i18n>My bookmarks</h3>

<div class="bookmarks" *ngIf="bookmarks.length">
    <div class="bookmark" *ngFor="let bookmark of bookmarks">
        <div class="top">
            <div class="title"
                 (click)="openElement(bookmark.slide)"
                 [ngClass]="{'active': activeSlide && activeSlide.uuid == bookmark.slide}">

                <span>{{bookmark.title}}</span>

            </div>
            <div class="editComment"
                 [ngClass]="{'active': activeSlide && activeSlide.uuid == bookmark.slide}"
                 (click)="editComment(bookmark)">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M2 12.88V16h3.12L14 7.12 10.88 4 2 12.88zm14.76-8.51c.33-.33.33-.85 0-1.18l-1.95-1.95c-.33-.33-.85-.33-1.18 0L12 2.88 15.12 6l1.64-1.63z"/>
                </svg>
            </div>
        </div>
        <div class="bottom" *ngIf="bookmark.data.comment || bookmark.editingComment">
            <textarea *ngIf="bookmark.editingComment"
                      [(ngModel)]='bookmark.data.comment'
                      [attr.id]="elementId(bookmark)"></textarea>
            <div class="comment" *ngIf="!bookmark.editingComment">{{bookmark.data.comment}}</div>
        </div>
    </div>

</div>

<div class="noBookmarks" *ngIf="!bookmarks.length" i18n>
    You have no bookmarks.<br/>Click the "Star" button to add page as bookmark.
</div>